<!DOCTYPE html>
<html>
<head>
    <!-- The link below is for the custom fonts -->
    <link href="https://fonts.googleapis.com/css?family=Exo+2|Marko+One&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>GIF Search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
  <h1>GIF Search!!</h1>
  <!-- The Serch bar where you can type in your query -->
  <form action= '/results', method='POST'>
      <p>
        What GIFs are you looking for?
      </p>
      <input type="text" name="Gif" placeholder="Search">

      <button type="Search">Search</button>
  </form>


    <!-- TODO: Make a block 'body' so that the homepage can extend base -->
    {% block content %}


    {% endblock %}

    <!-- Include the Tenor JavaScript to fill in GIFs appropriately -->
    <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</body>
</html>
