body {
  background-color: rgb(66, 158, 245);
  margin: auto;
  width: 50%;
  border: 10px solid blue;
  padding: 10px;
}

button {
  border-style:outset;
}

/* h1 {
  color: rgb(252,129,40);
  font-family: 'Marko One', serif;
}

h3 {
  color: rgb(255, 150, 150);
  font-family: 'Marko One', serif;
} */

p {
  color: rgb(252,129,40);
  font-family: 'Exo 2', sans-serif;
}
