body {
  background-color: rgb(66, 135, 245);
  margin: auto;
  width: 50%;
  /* border: 10px dotted blue; */
  padding: 10px;
}

button {
  border-style:outset;
  font-size: 16px;
  border-radius: 25px;
}


/* Got animation from w3schools.com */
input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}

h1 {
  color: rgb(59, 209, 139);
  font-family: 'Marko One', serif;
  font-size: 55px;
  text-align:center;
  text-shadow: 3px 2px rgb(237, 233, 100);

}

h3 {
  color: rgb(59, 209, 139);
  font-family: 'Marko One', serif;
}

p {
  color: rgb(59, 209, 139);
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;

}

ul {
  display: grid;
  grid-template: 150px / auto auto auto;
  justify-content:center;
}
