body {
  background-color: rgb(66, 135, 245);
  background-image: url("nature1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: auto;
  width: 50%;
  /* border: 10px dotted blue; */
  padding: 10px;
}

button {
  border-style:outset;
  font-size: 16px;
  border-radius: 25px;
}


/* Got animation from w3schools.com */
input[type=text] {
  width: 150px;
  border-radius: 25px;
  font-size: 16px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}

h1 {
  color: rgb(59, 209, 139);
  font-family: 'Marko One', serif;
  font-size: 70px;
  text-align:center;
  text-shadow: 3px 2px rgb(237, 233, 100);
  border-style: dashed;

}

h3 {
  color: rgb(59, 209, 139);
  font-family: 'Marko One', serif;
}

p {
  color: rgb(59, 209, 139);
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;

}

ul {
  display: grid;
  grid-template: 200px / auto auto auto;
  grid-gap: 20px;
  justify-content:center;
}
