body {
  background-color: rgb(66, 135, 245);
  margin: auto;
  width: 50%;
  border: 10px dotted blue;
  padding: 10px;
}

button {
  border-style:outset;
}

h1 {
  color: rgb(59, 209, 139);
  font-family: 'Marko One', serif;
  text-align:center;
}

h3 {
  color: rgb(59, 209, 139);
  font-family: 'Marko One', serif;
}

p {
  color: rgb(59, 209, 139);
  font-family: 'Exo 2', sans-serif;
}
